%nav.navbar.navbar-default(role="navigation")
  .container-fluid
    .navbar-header
      =link_to "Tea Time", root_path, class: "navbar-brand"
    .navbar-collapse.collapse#navbar
      - if current_user
        %ul.nav.navbar-nav
          %li
            =link_to "Home", home_path
          %li
            %a(href="#") Shops
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false")
              = "Welcome, #{current_user.full_name}"
            %ul.dropdown-menu(role="menu")
              %li
                %a(href="#") Events
              %li
                = link_to "Sign out", sign_out_path
