.jumbotron
  %h1 Its Tea Time!
  %p Its time to relax and get beverage delivery. An easy way to ask colleague for group buying.
  .row
    .col-md-3
      Have an account? Please
      =link_to "Sign in", sign_in_path
    .col-md-offset-5.col-md-3
      =link_to "Sign up", sign_up_path, class: "btn btn-lg btn-primary"
