.col-md-offset-1.col-md-10
  .well
    %h1 CoCo
    .row
      .col-md-3
        %p Address: xxx, xxx, xxx
        %p Phone: (02) 2332-3214
      .col-md-offset-7.col-md-2
        %button.btn.btn-primary.btn-lg Menu

  %button.btn.btn-primary Order
  %table.table.table-hover
    %thead
      %tr
        %td #
        %td Name
        %td Beverage
        %td Hot/Cold
        %td Ice
        %td Sugar
        %td Size
        %td Price
        %td
    %tbody
      %tr
        %td 1
        %td XXX
        %td Green Tea
        %td Cold
        %td 70%
        %td 30%
        %td Large
        %td 30
        %td
          %button.btn.btn-primary.btn-sm Edit
      %tr
        %td 2
        %td John
        %td Black Tea
        %td Cold
        %td 70%
        %td 30%
        %td Large
        %td 25
        %td
      %tr
        %td 3
        %td Tom
        %td Milk Tea
        %td Hot
        %td -
        %td 50%
        %td Medium
        %td 35
        %td
