.jumbotron
  %h1 Its Tea Time!
  %p Its time to relax and get beverage delivery. An easy way to ask colleague for group buying.
  .row
    .col-md-3
      Have an account? Please
      %a(href="") Sign in
    .col-md-offset-5.col-md-3
      %a.btn.btn-lg.btn-primary(href="" role="button") Sign Up
