.col-md-offset-1.col-md-10
  .well
    %h1 CoCo
    .row
      .col-md-3
        %p Address: xxx, xxx, xxx
        %p Phone: (02) 2332-3214
  %table.table.table-hover
    %thead
      %tr
        %td #
        %td Beverage
        %td Hot/Cold
        %td Size
        %td Price
    %tbody
      %tr
        %td 1
        %td Green Tea
        %td H/C
        %td S/M/L
        %td 20/25/30
      %tr
        %td 2
        %td Black Tea
        %td C
        %td S/M/L
        %td 20/25/30
      %tr
        %td 3
        %td Milk Tea
        %td H
        %td S/M/L
        %td 25/30/35
