.col-md-offset-2.col-md-8
  %form.form-horizontal(role="form")
    .form-group
      %label.col-md-2.control-label(for="inputName") Beverage
      .col-md-6
        %select.form-control
          %option Green Tea
          %option Black Tea
          %option Milk Tea
    .form-group
      %label.col-md-2.control-label(for="inputType") Hot/Cold
      .col-md-6
        %select.form-control
          %option Hot
          %option Cold
    .form-group
      %label.col-md-2.control-label(for="inputIce") Ice
      .col-md-6
        %select.form-control
          %option 100%
          %option 70%
          %option 50%
          %option 30%
          %option 0%
    .form-group
      %label.col-md-2.control-label(for="inputSugar") Sugar
      .col-md-6
        %select.form-control
          %option 100%
          %option 70%
          %option 50%
          %option 30%
          %option 0%
    .form-group
      %label.col-md-2.control-label(for="inputSize") Size
      .col-md-6
        %select.form-control
          %option Large
          %option Medium
          %option Small
    .form-group
      .col-md-offset-2.col-md-2
        %button.btn.btn-primary(type="submit") Apply
