%section.sign_up
  %form.form-signup(role="form")
    %h2.form-signup-heading Sign Up
    %label.sr-only(for="inputEmail") Email address
    %input.form-control(type="email" id="inputEmail" placeholder="Email address" required autofocus)
    %label.sr-only(for="inputPassword") Password
    %input.form-control(type="password" id="inputPassword" placeholder="Password" required)
    %label.sr-only(for="inputPasswordConfrim") Password Confirm
    %input.form-control(type="password" id="inputPasswordConfrim" placeholder="Password Confirm" required)
    %button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign up
